<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="{% url 'tasks:index' %}">index</a>
  {% if message %}
  <p>{{message}}</p>
  {% endif %}

  {% if object_list %}
  <ul>
    {% for row in object_list %}
    <li><a href="{% url 'tasks:detail' row.id %}">{{row}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>データの登録がありません</p>
  {% endif %}

</body>

</html>
